.todo-main-container button{
   cursor: pointer;
   background: none;
   border: none;
}
.todo-main-container{
   width:58vw;
}
.tasks-main-container{  
    border-radius: 10px;
   border: 1px solid black;
   scrollbar-width: 10px;
   overflow-y:auto;
   width: 90%;
   height: 65vh;
   text-align: center;
   margin:2vh 4vh 4vh 4vh;
   padding: 2vh;
}
.taskcontainer{
    margin: 0vh 0vh 4vh 0vh;
    display: flex;
    align-items: center;
}
.todo-title{
    font-family: 'Roboto Slab', serif;
    width:90%;
    margin: 2vh 4vh 2vh 4vh;
    color: white;
    align-items: baseline;
    font-weight: lighter;
    font-size: 4vh;
    height: 6vh;
    padding: 2vh;
    outline: none;
    border-radius: 10px;
    background: none;
    border:1px solid black
}
.taskcontainer img{
    margin: 1vh;
    width:5vh;
    height: 5vh;
}
.taskcontainer input{
    font-family: 'Roboto Slab', serif;
    border: none;
    color: aliceblue;
    outline: none;
    background: none;
    border-bottom: 1px solid rgb(13, 13, 44);
    width:96%;
    height: 6vh;
    font-size: 3vh;
}
.add-task img{
    border-radius: 50%;
    box-shadow: 1px 1px 1px rgb(154, 155, 154);
    width: 8vh;
    height: 8vh;
}
.add-task{
    margin: 2vh;
}
.todo-save{
    border-radius: 1vh;
    box-shadow: 1px 1px 5px green;
    font-size: 4vh;
    padding: 2vh;
    height: 8vh;
    width: 8vw;
    margin-left: 25vw;
    background-color: rgb(124, 245, 124) !important;
}