@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
.main{
    font-family: 'Roboto Slab', serif;
    background-color: rgb(85, 84, 84);
    color: white;
    display: flex;
    flex-direction: row;
}
.vr{
    height: 100vh;
    background-color: rgb(36, 35, 35) !important;
    width: 1px;
}
